.editable-table
  width: 100%
  border-spacing: 0
  position: relative

  thead tr
    background-color: #F5F5F5
    height: 36px

    th
      font-size: 0.9em
      color: rgba(0, 0, 0, 0.54)
      text-align: center
      border-top: 1px solid rgba(0, 0, 0, 0.12)
      border-bottom: 1px solid rgba(0, 0, 0, 0.12)

  thead tr th, tbody tr td
    border-left: 1px solid rgba(0, 0, 0, 0.12)

    &:last-child
      border-right: 1px solid rgba(0, 0, 0, 0.12)

  tbody tr
    height: 36px

    &:hover td
      background-color: rgba(0, 0, 0, 0.02)

    td
      padding-left: 4px
      border-bottom: 1px solid rgba(0, 0, 0, 0.12)
      cursor: cell
      outline: none
      user-select: none

      &.cell-selected
        background-color: rgba(0, 119, 84, 0.08) !important
        box-shadow: inset 0 0 0 2px #27cd92

.cell-input
  position: absolute
  border: 2px solid #27cd92
  background-color: white
  display: flex
  align-items: center
  box-sizing: border-box
  z-index: 10

  input
    width: 100%
    height: 100%
    outline: none
    border: none
    font-size: 14px
    padding-left: 4px
    background: transparent
    font-family: inherit
