* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto Flex, Roboto Mono;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1C21;
}
.menu-item {
    list-style: none;
}
.menu-item a {
    text-decoration: none;
    color: #81807E;
}
.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}