* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    position: relative;
}
.landing-page {
    background-image: url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop);
    max-width: 100%;
    padding: 2rem;
    background-size: cover;
}
.content {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1.5rem;
    padding: 2rem;
    text-align: center;
}
.title {
    text-align: center;
    font-size: 2.5rem;
}
.sub-title {
    font-weight: bold;
    color: #c084fc;
}
.description {
    margin-top: 1.5rem;
}
.button {
    margin-top: 2rem;
    margin-bottom: 4rem;
    border: none;
    outline: none;
    padding: 1rem 2.5rem;
    background-color: #9141dd;
    color: white;
    font-weight: bold;
    border-radius: 2rem;
}
.button:hover {
    cursor: pointer;
    background-color: #5b07ac;
}
.CTA {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    padding: 1rem 2.5rem;
    background-color: #f05123;
    color: white;
    font-weight: bold;
    border-radius: 2rem;
}
.CTA:hover {
    cursor: pointer;
    background-color: #d8431c;
}
.ok {
    border-radius: 100rem;
    border: 0.2rem solid rgba(200, 141, 239, 0.78);
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}
.number {
    color: #9141dd;
}
.description-logo {
    margin-bottom: 2rem;
}
#check {
    margin-bottom: 2rem;
}
.advice {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.advice-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.advice-text {
    font-size: 0.9rem;
    line-height: 1.4;
}
.check {
    width: 1rem;
    height: 1rem;
}
.benefit span {
    margin-left: 1rem;
}
.footer {
    border-top: 1px solid #b48def;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
#check:checked ~ .advice {
    background-color: #b686ea;
    color: #661fa6;
}
.modal-study {
    background-color: #ffffff;
    width: 28rem;
    border-radius: 1rem;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.modal-study-header {
    text-align: center;
}
.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.header-title {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.header-description {
    font-weight: 400;
    font-size: 0.8rem;
    color: #666666;
    margin-bottom: 1.4rem;
}
.modal-study-item {
    margin-bottom: 1rem;
}
.modal-study-item img {
    margin-right: 0.8rem;
}
.modal-study-button {
    font-weight: bold;
    font-size: 1rem;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #9141dd;
    padding: 1rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modal-study-footer {
    text-align: center;
    font-size: 0.8rem;
}
.modal-study-footer a {
    color: #9141dd;
}
.dot {
    font-size: 0.5rem;
}
#free {
    display: none;
}
#free:checked ~ .modal-study {
    display: block;
    z-index: 1;
}
.modal-study-overlay, .modal-advice-overlay {
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
#free:checked ~ .modal-study-overlay {
    display: block;
}
#free2:checked ~ .modal-advice-overlay {
    display: block;
}
.modal-advice {
    background-color: #ffffff;
    width: 28rem;
    border-radius: 1rem;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}
.modal-advice-header {
    text-align: center;
    margin-bottom: 1rem;
}
.advice-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.advice-description {
    font-size: 0.9rem;
    line-height: 1.1;
}
.modal-advice-body {
    margin-bottom: 1.2rem;
}
.modal-advice-form-group label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.star {
    color: #f05123;
}
.modal-advice-form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    background-color: #f7f7f7;
}
.courses {
    margin-bottom: 1rem;
}
.course-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.course-item input {
    margin-right: 0.7rem;
}
.modal-advice-btn {
    font-weight: bold;
    font-size: 1rem;
    border: none;
    width: 100%;
    border-radius: 2rem;
    background-color: #f05123;
    padding: 1rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#free2 {
    display: none;
}
#free2:checked ~ .modal-advice {
    display: block;
}
.faq {
    margin-top: 2rem;
}
.faq-title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.faq-item {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 70%;
}
.faq-question {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    border: 1px solid #dbc1ee;
    font-size: 1.0rem;
    font-weight: 550;
}
.faq-question:hover {
    background-color: #dbc1ee;
}
.plus {
    color: #9141dd;
}
.faq-answer {
    display: none;
    line-height: 1.4;
    background-color: #e9d8e9;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5rem 1.5em 1.5rem 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: justify;
    border: 1px solid #dbc1ee;
}
.minus  {
    display: none;
}
#question1:checked + .faq-item .faq-question {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#question1:checked + .faq-item .faq-answer {
    display: block;
}
#question1:checked + .faq-item .minus {
    display: block;
}
#question1:checked + .faq-item .plus {
    display: none;
}
#question2:checked + .faq-item .faq-question {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#question2:checked + .faq-item .faq-answer {
    display: block;
}
#question2:checked + .faq-item .minus {
    display: block;
}
#question2:checked + .faq-item .plus {
    display: none;
}
#question3:checked + .faq-item .faq-question {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#question3:checked + .faq-item .faq-answer {
    display: block;
}
#question3:checked + .faq-item .minus {
    display: block;
}
#question3:checked + .faq-item .plus {
    display: none;
}
